/* *{
    outline: 2px solid red;
} */

body{
    margin: 0px;
    font-family: 'Inter',sans-serif;
}

.container{
    height: 1000px;
    width: 700px;
    border: 1px solid black;
    margin: 0 auto;
    justify-content: center;
}

.experience-title{
    /* border: 1px solid black; */
    margin: 0 auto;
    margin-top: 30px;
    width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.experience-title{
    font-size: 30px;
    font-family: "Cedarville Cursive",cursive;
    font-weight: bold;
}

.experience-title{
    margin-top: -30px;
}

.experience-container{
    display: flex;
    flex-direction: column;
    margin: 10px;
    padding: 10px;
    /* border: 1px solid black; */
    justify-content: space-between;
    width: fit-content;
}

.experience-container{
    flex-direction: column;
}



/* --------- EXPERIENCE ---------- */

/*<div class="experience-container">
            <div class="experience-title">EXPERIENCES</div>
            <div class="experience-cards-container">
                <div class="experience-card">
                    <div class="experience-headline">
                        <div class="experience-description">*/

.experience-cards-container{
    /* border: 1px solid rgb(0, 0, 0); */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    margin-top: 90px;
}

.experience-card-a{
    display: flex;
    border: 1px solid #92C8FF;
    background-color: #92C8FF;
    height: 200px;
    width: 250px;
    margin: 10px;
    position: relative;
    align-items: flex-end;
    
}

.experience-card-b{
    display: flex;
    border: 1px solid #5D81D0;
    background-color: #5D81D0;
    
    height: 250px;
    width: 250px;
    margin: 10px;
    position: relative;
    align-items: flex-end;
}

.experience-card-a:hover{
    background-color: #77a5d2;
    cursor: pointer;
}

.experience-card-b:hover{
    background-color: #425e9a;
    cursor: pointer;
}

.experience-headline{
    font-size: 20px;
    font-weight: bold;
    margin: 15px;
}

.image-a{
    position: absolute;
    top: -80px;
    left: 40px;
}

.image-c{
    position: absolute;
    top: 60px;
    left: 190px;
}

.move-arrow{
    display: flex;
}

.arrow{
    align-self: flex-end;
    animation-duration: 1s;
    animation-iteration-count: 2;
    transform-origin: left;
}

.arrow:active{
    cursor:pointer;
}

.bounce:hover {
    animation-name: bounce;
    animation-timing-function: ease;
}

@keyframes bounce {
  0%   { transform: translateX(0); }
  50%  { transform: translateX(20px); }
  100% { transform: translateX(0); }
}