body {
    background-color: #FFFBF5;
    font-size: 25px;
    margin: 15px;
    padding: 15px;
    font-family: 'Nanum Pen Script', sans-serif;
    overflow-y: hidden;
}

header{
    display: flex;
    justify-content: center; 
    align-items: center;
    margin: 15px;
    position: relative; 
    height: 60px;
}

#email, #name{
    width: fit-content;
    padding-left: 15px;
    padding-right: 15px;
    font-weight: bold;
    color: black;
    cursor: pointer;
}

#name:hover,
#name.active{
    /* background-color: #7796CB;
    color: white;
    border-radius: 40px; */
}

#portfolio-title{
    font-weight: bold;
    text-decoration: underline;
    font-size: 50px;
    color: black;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
}

#portfolio-title:hover,
#name:hover{
    filter:opacity(65%);
}

.header-link{
    position: absolute;
    left: 0; 
    display: flex;
    gap: 10px; 
    font-weight: bold;
}

.linkedin-button > img {
    width: 50px;
}

.github-button > img {
    width: 50px;
}

.header-right{
    position: absolute;
    right: 0; 
    display: flex;
    font-weight: bold;
    justify-content: center;
    align-items: center;
}

.header-hours > p{
    margin: 0;
    padding: 0;
}

#cloud {
    height: 50px;
    margin-right: 15px;
}

.link{
    padding-left: 15px;
    padding-right: 15px;
    text-decoration: none;
    color: black;
}

#email:hover,
.link:hover{
    color: burlywood;
}

/* ----- MIDDLE ------ */

#home-container{
    display: none;
}

#home-container.active {
    display: flex;
    padding: 0;
    height: 525px;
    justify-content: center;
    align-items: center;
}

#projects-container,
#activities-container,
#experience-container
{
    display: none;
}

#viewer-container.active,
#projects-container.active,
#activities-container.active,
#experience-container.active
{
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    height: 525px;
    width: fit-content;
    /* border: 1px solid black; */
    justify-content: space-between;
    margin-top: 15px;
}

#personal-image.active{
    padding: 0;
    height: 450px;
    object-fit: cover;
    display: block;
    margin: 30px 0 30px 0;
}

.hidden{
    display: none;
}

#lower-nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: bottom;
    margin-left: 50px;
    margin-top: 15px;
}

#name, #name-details {
    font-size: 35px;
}

#name-details{
    padding-left: 15px;
}

#nav-button-container{
    display: flex;
    flex-direction: row;
}

#nav-button-container > li{
    margin: 15px;
    border: none;
    background: none;
    font: inherit;
    padding-left: 15px;
    padding-right: 15px;
    list-style-type: none;
    cursor: pointer;
}

#nav-button-container > li:hover,
#nav-button-container > li.active{
    background-color: #7796CB;
    color: white;
    border-radius: 40px;
}

/* ----- PROJECTS ------- */

.list {
    margin-top: 100px;
    position: absolute;
    left: 25px;
}

.list > li {
    /* list-style-type: none; */
    margin: 15px;
}

.list > li:hover {
    text-decoration: underline;
    cursor: pointer;
}

.list > li.active {
    text-decoration: underline;
    cursor: pointer;
}

.viewer {
    width: 630px;
    /* border: 1px solid black; */
    margin: 15px;
    display: flex;
    flex-direction: column;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
}

.projects-viewer-headline,
.activities-viewer-headline {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 15px 15px 0 15px;
    align-items: center;
}

.experience-viewer-headline{
    display: flex;
    flex-direction: row;
    padding: 15px 15px 0 15px;
    align-items: center;
    justify-content: space-evenly;
    margin: 0 45px 0 45px;
}

.viewer-display {
    
    border: 3px solid black;
    margin: 0 auto;
    height: 300px;
    width: 500px;
    overflow: hidden;
    background-color: white;
    display: flex; 
    justify-content: center; 
    align-items: center;
}

.viewer-image{
    max-width: 500px;
    padding: 5px 0 5px;
}

.viewer-video{
    max-height: 100%;   
}

.viewer-details {
    position: relative;
    padding: 15px;
    text-align: right;
    margin-right: 50px;
}

.viewer-description{
    position: absolute;
    top: 25%;
    right: 25px;
    align-content: center;
    overflow-wrap: break-word;
    min-width: 350px;
    max-width: 350px;
    padding: 0;
}


/* --- COMIC DRAWING ----- */

#return-home {
    display: flex;
    justify-content: center;
}

#return-home > a {
    color: black;
}

#return-home > a:hover{
    filter: opacity(65%);
}
